html, body{
  background-image: url('../img/digitaloceanBG.png');
  /* background-repeat:no-repeat; */
  height: 100%;
  width: 100%;
}
p{
  color: red;
}
h1{
  /* color: #1DAEAE; */
  color: white;
}
